<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>368945784550-i33bm8ludu6nej9us9krcgrguj4h48r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368945784550-i33bm8ludu6nej9us9krcgrguj4h48r0</string>
	<key>API_KEY</key>
	<string>AIzaSyDFKkgjaoLFo0MCiBKVwO5SJJVZsivk-Wg</string>
	<key>GCM_SENDER_ID</key>
	<string>368945784550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Team7.HobbyQuest</string>
	<key>PROJECT_ID</key>
	<string>hobbyquest-ee18d</string>
	<key>STORAGE_BUCKET</key>
	<string>hobbyquest-ee18d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368945784550:ios:2ef52e70f1f45692</string>
	<key>DATABASE_URL</key>
	<string>https://hobbyquest-ee18d.firebaseio.com</string>
</dict>
</plist>